*.gem
coverage/*
Gemfile.lock
*~
.bundle
.rvmrc
log/*
measurement/*
pkg/*
.DS_Store
.env
spec/dummy/tmp/*
spec/dummy/log/*.log

spec/dummy/.bundle

# Ignore the default SQLite database.
spec/dummy/db/*.sqlite3
spec/dummy/db/*.sqlite3-*

!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
spec/dummy/tmp/pids/*
# Ignore uploaded files in development.
spec/dummy/storage/*
spec/dummy/tmp/storage/*
spec/dummy/public/assets
spec/coverage/*
.idea/*
spec/dummy/.byebug_history
