
<html>
<body>
<div class="container">
  <div>
    <svg viewBox="0 0 100 100">
      <defs>
        <path id="circle"
              d="
                M 50, 50
                m -37, 0
                a 37,37 0 1,1 74,0
                a 37,37 0 1,1 -74,0"/>
      </defs>
      <text font-size="18">
        <textPath xlink:href="#circle">
          <%= object.title %>
        </textPath>
      </text>
    </svg>
  </div>
</div>
</body>
<style>
    svg {
        fill: currentColor;
        height: auto;
        max-width: 66vmin;
        transform-origin: center;
        width: 100%;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1200px;
        height: 630px;
    }
    body {
        margin: 0;
    }


</style>
</html>

